// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.log {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 150px;
    font-size: x-large;
}

.log h2{
    margin: 10px;
}

.totaro{
    font-size: x-large;
    border: 1px solid #fff;
    margin-top: 5px;
    margin-right: 5px;
}